.container {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    font-family: system-ui, sans-serif;
    text-align: center;
}

p {
    font-size: 24px;
}

code {
    font-family: monospace;
    padding: 2px;
    font-size: 18px;
    border: 2px solid gray;
    background-color: lightgray;
    border-radius: 6px;
}

button {
    padding: 8px;
    font-size: 20px;
    border-radius: 6px;
    border: 2px solid gray;
    background-color: lightgray;
}

img {
    border-radius: 8px;
    width: 96px;
}